name: Push to AWS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          node-version: '20'

      - name: Build Astro site
        run: |
          npm install
          npx astro build

      - name: Sync to AWS S3
        uses: Burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          path: dist/
          remote_path: /var/www/primary-site/dist
          remote_host: 18.208.126.241
          remote_user: ubuntu
          remote_key: ${{ secrets.EC2_SSH_KEY }}
    